# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*.pyo


# ==========================================
# VIRTUAL ENVIRONMENTS
# ==========================================

.venv/
venv/
env/


# ==========================================
# DATABASES
# ==========================================

*.db
*.sqlite
*.sqlite3


# ==========================================
# LOGS
# ==========================================

*.log


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/


# ==========================================
# WINDOWS
# ==========================================

Thumbs.db
Desktop.ini


# ==========================================
# MAC
# ==========================================

.DS_Store


# ==========================================
# INSTALLERS
# ==========================================

*.exe
*.msi


# ==========================================
# COMPRESSED FILES
# ==========================================

*.zip
*.7z
*.rar


# ==========================================
# LOCAL FILES
# ==========================================

@pre-requisits/