
<div class="mission-card category-{{ mission.category|lower|replace(' ','-') }}">

    <div class="mission-top">

        <div class="mission-icon">

            {{ mission.icon or "📖" }}

        </div>

        <div class="mission-info">
            <h3>{{ mission.title }} - {{ mission.gamer_name }}</h3>

            {% if mission.description %}
                <p>{{ mission.description }}</p>
            {% endif %}
            <span>⭐ {{ mission.points }} XP</span>
        </div>

    </div>

    <div class="mission-meta">

        {% if mission.status == "pending" %}

            <form
                method="POST"
                action="{{ url_for('missions.complete', assignment_id=mission.assignment_id) }}"
            >

                <button
                    type="submit"
                    class="btn-ui btn-primary-ui mission-button"
                >
                    ✅ Completar
                </button>

            </form>

            {% elif mission.status == "waiting_validation" %}

            <div class="mission-button waiting">

                🕒 Pendent de validació

            </div>

            {% elif mission.status == "completed" %}

            <div class="mission-button completed">

                ✅ Completada

            </div>

            {% endif %}

    </div>

</div>